@charset "UTF-8";*{padding:0;margin:0;border:0}*,:after,:before{-webkit-box-sizing:border-box;box-sizing:border-box}:active,:focus{outline:none}a:active,a:focus{outline:none}aside,footer,header,nav{display:block}body,html{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%}button,input,textarea{font-family:inherit}input::-ms-clear{display:none}button{cursor:pointer}button::-moz-focus-inner{padding:0;border:0}a,a:visited{text-decoration:none}a:hover{text-decoration:none}ul li{list-style:none}img{vertical-align:top}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit}
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@400;600;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* variables */

$brown: #AE7B3C;
$white: #fff;
$menuItemsBlack: #282B22;
$menuNumber: #3D4A39;
$green: #3d4a39;
$greenOpacity: rgba(61, 74, 57, 0.3);
$black: #000;

/* decorators */

.--align-items-center{
    align-items: center;
}
.--width-100{
    width: 100%;
}
.--text-align-center{
    text-align: center;
}
.--justify-content-center{
    justify-content: center;
}

.--text-align-left{
    text-align: left;
}


/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/* mutual components */
.heading-h1{
    margin: 100px 0 0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
}

.heading-h2{
    margin: 120px 0 70px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 125%;
    text-align: center;
    text-transform: uppercase;
    color: $menuItemsBlack;
}

.heading-h3{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    color: $menuItemsBlack;
    text-align: center;
    padding-top: 110px;
}

.heading-h4{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    color: $menuItemsBlack;
}

.heading-h5{
    margin-bottom: 35px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: $green;
}

.text-18-semibold{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
}

.text-18-medium{
    margin: 60px 7% 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}

.text-16-regular{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 135%;
    color: $menuItemsBlack;
    opacity: 0.8;
}

.text-16-medium{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 145%;
}

.text-14-medium{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
}

.text-12-medium{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
}

.text-botton{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
}

/* animations */

.animatable {
  
    /* initially hide animatable objects */
    visibility: hidden;
    
    /* initially pause animatable objects their animations */
    -webkit-animation-play-state: paused;   
    -moz-animation-play-state: paused;     
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;   
    animation-play-state: paused; 
  }
  
  /* show objects being animated */
  .animated {
    visibility: visible;
    
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 3s;
  
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
  }

  @-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
	50% {
		-webkit-transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}

	50% {
		-moz-transform: scale(1.05);
	}

	70% {
		-moz-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}

	50% {
		-o-transform: scale(1.05);
	}

	70% {
		-o-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-o-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}

	50% {
		transform: scale(1.05);
	}

	70% {
		transform: scale(.9);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* navigation */

.navigation {
    padding: 15px 0;
    .navbar {
        .navbar-nav{
            width: 100%;
            justify-content: space-around;
        }
        .nav-item{
            display: flex;
            justify-content: space-evenly;
        }
        .header-headings{
            width: 60%
        }
        .menu-items {
            font-family: Raleway;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 100%;
        }
        .menu-number{
            font-family: Lato;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            text-transform: uppercase;
        }
        .nav-link:hover {
            color: rgba(0,0,0,.7);
        }
    }
}

/* swiper */

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-pagination-bullet-active{
      background-color: $brown;
  }


/* main */
.background{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) -13.19%, rgba(0, 0, 0, 0.85) 94.01%)
}

.main {
    width: 100%;
    color: $white;
    background-image: url('https://douw147.github.io/building_company/images/main.png');
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .main__main-photo{
        top: -50px;
        min-height: 100%;
        width: 100%;
        height: auto;
    }
    .main__main-button{
        margin: 10% 0 0;
        background-color: $brown;
        box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
        width: 260px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity linear .2s;
    }
    .main__main-button:hover{
        cursor: pointer;
        opacity: 0.9;
    }
    .main__main-text{
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .main__main-decoration{
        margin: 5% 0;
        width: 100%;
        height: 0px;
        opacity: 0.6;
        border-top: 3px solid $white;
    }
}

/* directions */

.directions{
    padding-bottom: 90px;
    .directions__directions-card{
        margin-bottom: 40px;
    }
    .directions__directions-card-mobile{
        display: none;
    }
    .directions-container{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 23px 23px;
        border-radius: 4%;
    }
}

/* we provide */

.weprovide{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(61,74,57,1) 35%, rgba(0,255,145,1) 100%);
    color: $white;
    padding-bottom: 40px;
    .heading-h2{
        margin: 0 0 100px;
        color: $white;
        padding: 100px 0 0;
    }
    .heading-h5{
        color: $white;
        font-weight: 500;
        opacity: 0.5;
        margin-top: 20px;
    }
    .weprovide__weprovide-card{
        height: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
    }
    
}

/* pringo */

.pringo{
    padding-bottom: 100px;
    .pringo__card-row{
        margin-top: 100px;
        border-bottom: 1px solid $greenOpacity;
        .pringo__pringo-card{
            display: flex;
            align-items: flex-start;
            padding: 25px 15px;
            .pringo-container-image{
                position: relative;
                top: 3px;
            }
        }
        .card-left{
            border-top: 1px solid $greenOpacity;
            border-right: 1px solid $greenOpacity;
            padding-right: 0;
        }
        .card-right{
            border-top: 1px solid $greenOpacity;
            padding-left: 0;
        }
    }
    .text-18-medium{
        margin: 0;
        font-size: 17px;
    }
    .pringo-smart-image1{
        position: absolute;
        overflow: hidden;
        top: -280px;
        left: -200px;
        width: 160px;
        height: 200px;
    }
    .pringo-smart-image2{
        position: absolute;
        top: -120px;
        right: -210px;
        overflow: hidden;
        width: 160px;
        height: 200px;
    }
}

.smart-image1{
    position: relative;
    left: 0;
}

.smart-image2{
    position: relative;
    left: 0;
}

/* advantages */

.advantages{
    padding-bottom: 100px;
    .heading-h2{
        margin-top: 0;
    }
    .heading-h5{
        opacity: 0.3;
    }
    .advantages__advantages-card{
        padding: 25px 15px;
    }
    .advantages__advartages-row{
        border-top: 1px solid $greenOpacity;
    }
    .advantages__advartages-row:last-child{
        border-bottom: 1px solid $greenOpacity;
    }
    .left-advantages-card{
        padding-right: 0;
        border-right: 1px solid $greenOpacity;
    }
    .advantages__advantages-image{
        position: absolute;
        top: -45px;
        left: 90px;
    }
    .advantages__advartages-row{
        transition: padding 0.1s linear;
    }
    .advantages__advartages-row:hover{
        color: $brown!important;
        font-size: 50px;
        padding: 40px 15px;
    }

}

/* letstalk */

.letstalk{
    color: $white;
    background-color: $green;
    width: 100%;
    display: flex;
    .letstalk__letstalk-left{
        width: 50%;
        .letstalk__letstalk-card{
            width: 200%;
            .heading-h2{
                color: $white;
            }
            .container{
                padding-left: 0;
            }
            .letstalk__letstalk-card-left{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                align-content: flex-start;
                .text-18-medium{
                    text-align: left;
                    margin: 0;
                    font-size: 17px;
                }
                .heading-h2{
                    margin: 120px 0 40px;
                    text-align: left;
                }
                .main__main-button{
                    margin: 10% 0 0;
                    background-color: $brown;
                    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
                    width: 100%;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: opacity linear .2s;
                }
                .main__main-button:hover{
                    cursor: pointer;
                    opacity: 0.9;
                }
                .main__main-text{
                    color: $white;
                    display: flex;
                    flex-direction: column;
                    align-items:center;
                    font-family: 'Raleway', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 100%;
                    background: none;
                }
                .letstalk-input-text{
                    margin-top: 10px;
                    box-sizing: border-box;
                    width: 100%;
                    height: 40px;
                    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
                    background-color: $green;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 135%;
                    color: $white;
                    opacity: 0.8;
                }
                .letstalk-input-file{
                    display: none;
                    visibility: hidden;
                }
                .letstalk-input-file-image{
                    opacity: 0.3;
                }
                .letstalk-input-file-label{
                    display: flex;
                    align-items:center;
                    margin-top: 30px;
                }
                .letstalk__letstalk-box-container{
                    display: flex;
                    align-items:center;
                }
                .text-14-medium{
                    margin: 4px 0 0 0;
                    opacity: 0.3;
                    padding-left: 10px;
                }
                .text-12-medium{
                    display: inline-block;
                    margin: 0;
                    margin-left: 5px;
                }
                .round {
                    position: relative;
                    width: 18px;
                    height: 18px;
                }
                  
                .round label {
                    background-color: #fff;
                    border: 1px solid #ccc;
                    cursor: pointer;
                    height: 18px;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 18px;
                }
                  
                .round label:after {
                    border: 2px solid #fff;
                    border-top: none;
                    border-right: none;
                    content: "";
                    height: 6px;
                    left: 2px;
                    opacity: 0;
                    position: absolute;
                    top: 4px;
                    transform: rotate(-45deg);
                    width: 12px;
                }
                  
                .round input[type="checkbox"] {
                    visibility: hidden;
                }
                  
                .round input[type="checkbox"]:checked + label {
                    background-color: $brown;
                    border-color: $brown;
                }
                  
                .round input[type="checkbox"]:checked + label:after {
                    opacity: 1;
                }
            }
        }
    }
    .letstalk__letstalk-right{
        width: 50%;
        .letstalk-image{
            width: 100%;
            height: auto;
        }
    }
}

/* stages */

.stages{
    .stages-card-number{
        margin-bottom: 30px;
        height: 60px;
        width: 60px;
        border: 1px solid $greenOpacity;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .heading-h5{
        margin: 0;
    }
    .text-18-semibold{
        margin-bottom: 15px;
    }
    .main__main-decoration{
        margin: 5% 0;
        width: 100%;
        height: 0px;
        opacity: 0.6;
        border-top: 3px solid $greenOpacity;
    }
}

/* inwork */

.inwork{
    padding-bottom: 100px;
    .inwork__inwork-carousel{
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    .inwork__carousel-item{
        .inwork__carousel-image{
            width: 600px;
            height: 340px;
        }
    }
    .carousel-subtitles{
        margin-top: 20px;
        width:100%;
        display: flex;
        justify-content: center;
        .heading-h5{
            margin-bottom: 10px;
        }
        .text-18-medium{
            margin:0;
            width: auto;
            text-align: left;
        }
        .carousel-subtitle__carousel-subtitle-container{
            text-align: start;
            width: 600px;
            position: relative;
            left: -60px;
        }
    }
    .carousel-item-active{
        margin: 0 50px;
    }
    .carousel-prev-button{
        cursor: pointer;
        background-color: $white;
        position: relative;
        left: -55px;
        top: -220px;
        display: flex;
        justify-content: center;
        align-items:center;
        width:60px;
        height: 60px;
        border: 1px solid $greenOpacity;
        border-radius: 50%;
    }
    .carousel-next-button{
        cursor: pointer;
        background-color: $white;
        position: relative;
        top: -220px;
        right: -655px;
        display: flex;
        justify-content: center;
        align-items:center;
        width:60px;
        height: 60px;
        border: 1px solid $greenOpacity;
        border-radius: 50%;
    }
    .inwork__carousel-image-mobile{
        width: 300px;
        height: 170px;
    }
    .swiper{
        display: none;
    }
    .swiper-slide{
        .text-18-medium{
            margin: 0;
            width: auto;
        }
        .heading-h5{
            margin-bottom: 5px;
        }
        .carousel-subtitle-mobile{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 20px;
        }
        .swiper-pagination{
            position: relative;
        }
    }
    .heading-h2{
        margin-bottom: 40px;
        margin-top: 90px;
    }
}

/* footer */

footer{
    padding: 40px 0;
    .socials{
        display: flex;
        align-items: center;
        margin-top: 10px;
        .text-14-medium{
            margin: 0;
            margin-right: 5px;
        }
    }
    .footer-links-container{
        display: flex;
        flex-direction: column;
        .text-16-medium{
            color: $menuItemsBlack;
            margin-bottom: 10px;
        }
    }
    .menu-number{
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 100%;
        text-transform: uppercase;
        color: $menuItemsBlack;
        display: flex;
    }
    .phone-avatar-number{
        display: flex;
        position: relative;
        left: -3px;
    }
    .main__main-button{
        margin: 10px 0 0;
        background-color: $brown;
        box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
        width: 260px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity linear .2s;
    }
    .main__main-button:hover{
        cursor: pointer;
        opacity: 0.9;
    }
    .main__main-text{
        display: flex;
        flex-direction: column;
        align-items:center;
        background: none;
        color: $white;
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 100%;
    }

}

@media (max-width: 1400px) { 
    .pringo{
        .pringo-smart-image1{
            top: -280px;
            left: -100px;
        }
        .pringo-smart-image2{
            top: -280px;
            right: -100px;
        }
    }

    /* letstalk */
    .letstalk{
        padding-bottom: 100px;
        .letstalk__letstalk-left{
            width: 100%;
            .letstalk__letstalk-card{
                width:100%;
                .letstalk__letstalk-card-left{
                    width: 130%;
                }
            }
        }
        .letstalk__letstalk-right{
            display: none;
        }
    }
}


@media (max-width: 991.98px) { 
    /* navigation */ 
    .navigation{
        .navbar{
            .navbar-nav{
                display: flex;
                align-items: flex-end;
            }
            .header-headings {
                width: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
            .social-avatars{
                .social-avatar__inst{
                    margin-right: 20px;
                }
            }
        }

    }
    /* main */
    .main {
        background-image: url('https://douw147.github.io/building_company/images/main992.png');
        .main__main-photo{
            position: relative;
        }
    }

    /* directions */

    /* advantages */
    .advantages{
        .advantages__advantages-image{
            width: 240px;
            height: auto;
            top: -12px;
        }
    }
}

@media (max-width: 850px) {

    /* pringo */

    .pringo-smart-image1{
        display: none;
    }
    .pringo-smart-image2{
        display: none;
    }

    /* letstalk */
    .letstalk{
        .letstalk__letstalk-left{
            .letstalk__letstalk-card{
                .letstalk__letstalk-card-left{
                    width: 200%;
                }
            }
        }
    }

    /* inwork */
    .inwork{
        .inwork__inwork-carousel{
            .inwork__carousel-item{
                .inwork__carousel-image{
                    width: 420px;
                    height: 238px;
                }
            }
        }
        .carousel-subtitles{
            .carousel-subtitle__carousel-subtitle-container{
                width: 385px;
            }

        }
        .carousel-prev-button{
            top: -160px;
            left: 40px;
            width: 40px;
            height: 40px;
        }
        .carousel-next-button{
            top: -165px;
            right: -345px;
            width: 40px;
            height: 40px;
        }
    }
}

@media (max-width: 767.98px) {
    /* main */
    .main {
        background-image: url('https://douw147.github.io/building_company/images/main798.png');
        .main__main-photo{
            
        }
    }
    /* directions */
    .directions{
        .directions__directions-card{
            width: 70%;
        }
    }

    /* pringo */

    .pringo{
        .pringo__card-row{
            .card-left{
                border-right: none;
            }
        }
        .pringo-smart-image1{
            display: none;
        }
        .pringo-smart-image2{
            display: none;
        }
    }

    /* advantages */
    .advantages{
        .advantages__advantages-image{
            display: none;
        }
    }
}

@media (max-width: 575.98px) {
    .heading-h1{
        font-size: 56px;
    }
    
    .text-18-medium{
        font-size: 17px;
        width: 100%;
    }
    /* main */
    .main {
        background-image: url('https://douw147.github.io/building_company/images/main500.png');
        .main__main-photo{
            
        }
        .main__main-button{
            margin-top: 80px;
        }
        .main__main-decoration{
            margin: 50px 0;
            width: 80%;
        }
        .text-18-medium{
            width: 140%;
        }
    }

    /* directions */
    .directions{
        .directions__directions-card{
            display: none;
            padding: 0;
            margin-bottom: 20px;
            border: none;
            width: 90%;
        }
        .directions__directions-card:last-child{
            border: none;
        }
        .directions-container{
            padding: 20px 25px;
        }
        .directions-card-photo{
            width: 260px;
            height: auto;
        }
        .heading-h5{
            margin-bottom: 35px;
            text-align: center;
        }
        .directions-container{
            text-align: center;
        }
        .directions__directions-card-mobile{
            display: flex;
            flex-direction: column;
            align-items:center;
            padding: 20px 25px;
        }
    }

    /* we provide */
    .weprovide{
        .heading-h2{
            font-size: 40px;
        }
        .heading-h5{
            color: $white;
            font-weight: 500;
            opacity: 0.5;
            margin-top: 15px;
        }
        .weprovide__weprovide-card{
            margin-bottom: 65px;
        }
    }
    /* letstalk */
    .letstalk{
        .letstalk__letstalk-left{
            .letstalk__letstalk-card{
                .letstalk__letstalk-card-left{
                    padding: 0 20px;
                    width: 100%;
                }
            }
        }
        .letstalk__letstalk-right{
        }
    }

    /* inwork */

    .inwork{
        .inwork__inwork-carousel{
            display: none;
        }
        .carousel-subtitles{
            display: none;
        }
        .swiper{
            display: block;
        }
    }

    footer{
        .col-sm-6{
            margin-bottom: 15px;
        }
    } 
}

#mapDiv {
    border-radius: 5%;
}